PORT=3000
DATABASE_URL="postgresql://postgres:[PASSWORD]@[PROJECT_ID].supabase.co:5432/postgres"
JWT_SECRET="your_secret_key"
RESEND_API_KEY="re_your_resend_api_key"
EMAIL_FROM="your-verified-sender@domain.com"
